---
name: QA
on: # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize]
    paths:
      - ".github/workflows/qa.yml"
      - "go.*"
      - "**.go"
  push:
    branches: [main]

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=radiofrance/lint-config
      LINT_CONFIG_VERSION: v1.1.1
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
      - name: Download golangci-lint config file
        run: curl -o .golangci.yml https://raw.githubusercontent.com/radiofrance/lint-config/${{ env.LINT_CONFIG_VERSION }}/.golangci.yml
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # renovate: datasource=github-releases depName=golangci/golangci-lint
          version: v2.7.2
